<h1>Folder: <%= @folder.title %></h1>
<div class="text-gray"><%= @folder.description %></div>
<div>Files: <%= @folder.filenum %></div>

<%= link_to 'Back to Folders', folders_path %> | 
<%= link_to 'Delete folder', @folder, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= render partial: 'items' %>