<h1>Your Files </h1>

<table data-toggle="table" width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Mark' ">
 <thead style="background-color: none; font-family: 'Mark Pro'; font-size: 11px">
  <tr class="text gray">
   <th>File</th>
   <th>URL</th>
   <th data-sortable="true">Uploaded at</th>
   <th>Size</th>
  </tr>
 </thead>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
 <tbody>
  <% @folder.items.each do |item| %>
   <tr>
    <td><%= item.attachment.filename if item.attachment.attached? %></td>
    <td><%= truncate(url_for(item.attachment), length:54) if item.attachment.attached? %></td>
    <td><%= item.attachment.created_at if item.attachment.attached? %></td>
    <td><%= sprintf('%.2f',item.attachment.byte_size/10000.to_f)  if item.attachment.attached? %>Mb</td>
    <td><%= link_to 'Preview', folder_item_path(@folder, item) %></td>
   </tr>   
  <% end %>
 </tbody>
</table>

