<% if @item.attachment.attached? %>
 <strong>File:</strong>
 <p id="notice"><%= @item.attachment.filename %></p>

 <p>
  <strong>Views:</strong>
  <%= @item.views %>
 </p>
  <% if @sample_upload.respond_to?(:image) %>
 <p>
 	<strong>Preview: </strong><br>
  <%= image_tag @item.attachment.variant(resize: "300x300") %>
 </p>
 <% end %>
<% else %>
<% end %>
   
 <p><%= link_to 'Delete this file', folder_item_path(@folder, @item), method: :delete, data: { confirm: 'Are you sure?' } %></p>
 <p><%= link_to 'Back to Folder', folder_path(@folder) %></p>

