<h1>Your Files </h1>

<table data-toggle="table" width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Mark' ">
 <thead style="background-color: none; font-family: 'Mark Pro'; font-size: 11px">
  <tr class="text gray">
   <th>File</th>
   <th>URL</th>
   <th data-sortable="true">Uploaded at</th>
   <th>Size</th>
   <th>Open</th>
   <th>Download</th>
  </tr>
 </thead>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
 <tbody>
  <% @sample_folder.sample_uploads.each do |sample_upload| %>
   <% if sample_upload.singleupload.attached? %>
   <tr>
    <td><%= sample_upload.singleupload.filename %></td>
     <% if Rails.env.production? %>
    <td><%= truncate(sample_upload.singleupload.service_url, length: 69) %></td>
     <% else %>
    <td><%= truncate(url_for(sample_upload.singleupload), length: 54) %></td>
     <% end %>
    <td><%= sample_upload.singleupload.created_at %></td>
    <td><%= sprintf('%.2f',sample_upload.singleupload.byte_size/10000.to_f) %>Mb</td>
    <td><%= link_to 'Overview', sample_folder_sample_upload_path(@sample_folder, sample_upload) %></td>
    <td><%= link_to 'Download',  rails_blob_path(sample_upload.singleupload, disposition: "attachment"), controller: 'sample_uploads',action: 'download', method: 'get', notice: "Get your file" %></td>
   <% else %>
   <% end %>
  </tr>   
  <% end %>
 </tbody>