<% if @sample_upload.attachment.attached? %>
<p>
<strong>link:</strong>
 <% if Rails.env.production? %>
    <td><%= geturl(@sample_upload.attachment) %></td>
  <% else %>
   <td><%= truncate(url_for(@sample_upload.attachment), length:54) %></td>
  <% end %>
</p>

<strong>File:</strong>
<p id="notice"><%= @sample_upload.attachment.filename %></p>

<p>
	<strong>Preview: </strong><br>
  <%= image_tag @sample_upload.attachment if @sample_upload.attachment.attached? %>
</p>

   
   <p><%= link_to 'Delete this file', sample_folder_sample_upload_path(@sample_folder, @sample_upload), method: :delete, data: { confirm: 'Are you sure?' } %></p>
   <p><%= link_to 'Back to Folder', sample_folder_path(@sample_folder) %></p>
<% end %>