<% if @sample_upload.singleupload.attached? %>
<strong>link:</strong>
 <% if Rails.env.production? %>
<p>
  <td><%= link_to truncate(@sample_upload.singleupload.service_url, length: 69) %></td>
</p>
 <% else %>
<p>
	 <td><%= link_to rails_blob_path(@sample_upload.singleupload, disposition: "attachment") %></td>
</p>
 <% end %>
<strong>File:</strong>
<p id="notice"><%= @sample_upload.singleupload.filename %></p>

<p>
	  <% if @sample_upload.respond_to?(:image) %>
	  <strong>Preview: </strong><br>
   <%= image_tag @sample_upload.singleupload.variant(resize: "300x300") %>
</p>
   <% end %>

   
<p><%= link_to 'Delete this file', sample_folder_sample_upload_path(@sample_folder, @sample_upload), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to 'Back to Folder', sample_folder_path(@sample_folder) %></p>
<% end %>