<!DOCTYPE html>
<html>
  <head>
    <title>Storages</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('jquery.js') %>
    <%= javascript_include_tag('bootstrap.js') %>
  <meta name="author" content="rghost">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">
  </head>

<body>
  <header class="header">
  <div class="allcontain">
   
       <!-- Navbar Up -->                                                                                                                      
  <nav class="topnavbar navbar-default topnav">
    <div role="navigation" class="navbar navbar-default topnav">
      <div class="navbar-header">
      <a href="<%= admins_path %>" class="navbar-brand">
                <img src="<%= asset_path 'fish.jpg' %>" class="visible-xs visible-sm">
                <span class="sr-only">Home</span>
      </a>
   </div>
   
      <div class="collapse navbar-collapse" id="upmenu">
       <ul class="nav navbar-nav">

 </div>

<ul class="nav navbar-nav" id="navbarontop">
  <li class="nav-item dropdown">
      <div aria-labelledby="homeDropdown" class="dropdown-menu"><a href="#" class="dropdown-item"></a><div class="image"><a href="#" data-toggle="modal" data-target="#modal" alt="" class="img-fluid image1"></a></div> 
    </div>
  </li>
  <li class="nav-item dropdown">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">English <span class="caret"></span></a>

     <ul class="dropdown-menu">
     <li><a href="<%= home_path %>">Russian</a></li>
      <li><a href="<%= home_path %>">Ukrainian</a></li>
    </ul>
  </li>

   <li class="nav-item">
    <% if current_user %>
    <a href="<%= user_folders_path(@user, user_id: current_user.id) %>">My folders</i></a>
    <% end %>
   </li>
   
   <li class="nav-item">
    <a href="<%= home_path(anchor: 'upload') %>"><i class="fas fa-cloud-download-alt"></i></a>
  </li>
</ul>
  <ul class="callme">
    <li>S.F. Uploader</li>
  </ul>
  <ul class="logreg">
     <% if !admin_session %>
      <% if !user_signed_in? %>
                     
        <li><span><%= link_to 'Register', new_user_registration_path %></span> | </li>
        <li><span><%= link_to 'Login', new_user_session_path %></span> | </li>
                        <% else %>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %> | </li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>                               
      <% end %> 
      <% else %>
       <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete, :class => 'navbar-link' %></li>   
    <% end %>   
         </ul>
        </div>
  </ul>
       </div>
    </div>
   </div>
  </div> 
 </div>
</div>
</div>  
 </nav>
</div>
    
          <div id="modal" tabindex="-1" 
           role="dialog" aria-hidden="false" class="modal fade">
           
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                  <div class="row quick-view product-main">
                    <div class="col-sm-6">
                      <div class="modalhome-main-image"><img src="#" alt="" class="img-fluid"></div>
                                   
                    </div>
                    <div class="col-sm-6">
                      <h2><%= t('layouts.application.modal_greeting') %></h2>
                      <p class="text-muted text-small text-center"><%= t('main.contacts.about_p') %></p>
                  
                          <p class="text-center"><a href="№" class="btn btn-outline-primary"><%= t('layouts.application.contacts') %></a></p>
                        </form>
                      </div>
                      <!-- /.box-->
                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
 
</header>

    <div class="container">
    <%= yield %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </div>
</body>

</html>
